* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #151618;
}

header {
  max-width: 1200px;
  height: 142px;
  margin: 30px 200px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  gap: 235px;
}

.logo {
  width: 73px;
  height: 105px;
}

nav ul {
  width: 582px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 65px;
  font-size: 18px;
  padding: 0;
}

.icon {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hero {
  position: relative;
  margin-top: 28px;
  max-width: 100%;
  height: 500px;
}

.text-overlay,
.headline_block_1,
.paragraph_block_1 {
  font-family: "Cormorant", sans-serif;
  color: white;
}

.text-overlay {
  position: absolute;
  text-align: left;
  top: 220px;
  left: 200px;
  padding: 20px;
  max-width: 800px;
  height: auto;
}

.headline_block_1 {
  /* font-family: 'Cormorant', sans-serif;
    font-style: normal;
    color: white; */
  font-size: 60px;
  font-weight: 80;
  max-width: 800px;
}

.paragraph_block_1 {
  /* font-family: 'Cormorant', sans-serif;
    font-style: normal;
    color: white; */
  font-size: 24px;
  font-weight: 80;
  max-width: 600px;
  margin: 10px;
}

.quote {
  margin: 150px 480px;
  font-family: "Cormorant", sans-serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

h2 {
  font-family: "Cormorant", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}

.collections {
  margin: 150px 200px;
}

.collection_items {
  display: flex;
  justify-content: center;
  margin: 60px 200px;
  gap: 40px;
}

.collection_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clients_reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
}

.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px 200px;
  gap: 26px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 280px;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
}

.review_name {
  font-size: 20px;
  font-weight: 600;
}

.our_tea_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px 200px;
}

.blog_posts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  gap: 40px 58px;
}

.post {
  text-align: left;
  display: flex;
}

.post_text {
  display: flex;
  flex-direction: column;
}

.post_title {
  font-family: "Cormorant", sans-serif;
  font-size: 24px;
  font-weight: 80;
  padding-left: 20px;
  max-width: 270px;
  height: 86px;
}

.post_author,
.read_more {
  font-family: "Open sans", sans-serif;
  font-size: 13px;
  padding: 20px;
  font-weight: 60;
}

.read_more {
  text-decoration: none;
}

.view_all_container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.view_all {
  font-family: "Open sans", sans-serif;
  font-size: 20px;
  font-weight: 60;
  padding: 12px 41px;
  border: 1px solid #151618;
  background-color: white;
}
